<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1085810773383-oamnojfn27vabfu4daemj2u34a70rjbr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1085810773383-oamnojfn27vabfu4daemj2u34a70rjbr</string>
	<key>API_KEY</key>
	<string>AIzaSyCecBlbqTbrWfSJK2BkVldgV8knoKy1fII</string>
	<key>GCM_SENDER_ID</key>
	<string>1085810773383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seanbrady.verbos</string>
	<key>PROJECT_ID</key>
	<string>concurso-espanol</string>
	<key>STORAGE_BUCKET</key>
	<string>concurso-espanol.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085810773383:ios:6d8ace7e7fd651a6</string>
	<key>DATABASE_URL</key>
	<string>https://concurso-espanol.firebaseio.com</string>
</dict>
</plist>
